<div class="page-header">
  <h2><%= title %></h2>
  （開催期間：<%= @cop_event.started_at.to_s(:datetime) %> 〜 <%= @cop_event.ended_at.to_s(:datetime) %>）
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">このページについて</h3>
      </div>
      <div class="panel-body">
        このページにデータを表示するためには、<%= link_to '「インポート」', import_url %> にて、種別「輸送イベント進捗情報」の
        JSON ファイルをアップロードする必要があります。
      </div>
    </div>
  </div>
</div>
